{% extends 'base.html' %}

{% block content %}
<div class="container bg-light">
{% if messages %}

<ul class="messages">
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
</ul>
{% endif %}

<h2>Create a card </h2>
    <!-- TODO:  Bootstrap the forms.  crispy-forms? -->
    <form method="post">
        {% csrf_token %}
        <table>
        {{ form }}
        </table>
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>

</div>
{% endblock %}