{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Hello, world!</h1>
            <p>In the time of chimpanzees, I was a monkey.  Butane in my veins and a mouth to cut the chunky with the plastic eyeballs, spraypaint the vegetables.  Dog food stalls with the beef cake pantyhose.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>




    <div class="container">
        <h2>Assorted cards</h2>
      <div class="card-columns">
        {% for card in cards %}
          {% include "_card.html" %}
        {% endfor %}
      </div>
    </div>



    <div class="container">
        <h2>Assorted Decks</h2>
        {% for deck in decks %}
            {{ deck.name }}
            <img src="{{ deck.image }}" height="266px" width="200px">
        {% endfor %}
    </div>

</main>

<footer class="container">
    <p>&copy; Company 2017-2020</p>
</footer>
{% endblock %}
