{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Hello, world!</h1>
            <p>In the time of chimpanzees, I was a monkey.  Butane in my veins and a mouth to cut the chunky with the plastic eyeballs, spraypaint the vegetables.  Dog food stalls with the beef cake pantyhose.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>




    <div class="container">
      <div class="card-columns">
        {% for card in cards %}
          <div class="card " style="width: 18rem;">
            <h5 class="card-header bg-dark text-light">{{ card.name }}</h5>
            <div align="right">
              {{ card.cost_as_html|safe }}

            </div>

            <img class="card-img-top" src="{{card.picture}}" alt="Card image cap" width="266px" height="200px">
            <div class="card-body">


              <ul>
                {% for trait in card.construct.traits.all %}
                  <li>{{ trait.name }}</li>
                {% endfor %}
              </ul>
              <hr>
              {% for ability in card.construct.abilities.all %}
                {{ ability.cost_as_html|safe }}:
                {{ ability.text }}
              {% endfor %}
              <hr>
              <p class="card-text"><em>{{ card.flavor_text }}</em></p>
              <div align="right"><p><strong>{{card.construct.attack}}/{{ card.construct.defense }}</strong></p></div>

            </div>
          </div>
        {% endfor %}
      </div>
    </div>



</main>

<footer class="container">
    <p>&copy; Company 2017-2020</p>
</footer>
{% endblock %}
